@font-face {
    font-family: kanit-regular;
    src: url('/font/Kanit/Kanit-Regular.ttf');
}

body {
    font-family: kanit-regular;
}

a {
    color: inherit;
}
.mlist-container {
    padding: 2px;
    border-radius: 10px;
}

.mlist-container .mlist-head {
    background: linear-gradient(180deg,#FFCD52 0%,#fbdb89 57%,#aaa8ac 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    text-align: center;  
    border-radius: 5px 5px 0px 0px;
}

.mlist-headmovie{
    background: linear-gradient(180deg,#FFCD52 0%,#fbdb89 57%,#aaa8ac 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-size:20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.mlist-container .mlist-item {
    background-color: #585858;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.mlist-item {
    display: block;
    color: #ffffff;
}

.mlist-item:hover {
    text-decoration: none;
    color: #6600FF;
    background-color:#282828;
}

.nav-black {
    background: linear-gradient(180deg,#FFCD52 0%,#fbdb89 57%,#aaa8ac 100%);
    color: #000000;
    text-align: center;
    padding-left: 30%;
}

.nav-link:hover {
    color:#6600FF;
    border-bottom: 3px solid #000000;
    padding-bottom: 1px;
}

.card:hover {
    background: linear-gradient(180deg,#aaa8ac 0%,#fbdb89 57%,#FFCD52 100%);
    color:#6600FF;
}

.bg-body {
    background-color: #000000;
}


.bg-darker{
    background-color: #000000;
}

.card-align{
    text-align: center;
}

.margintop{
    margin-top:2em;
}

.card{
    background-color: #585858;
}

.test{
    padding: 0px 20px;
}

.container-logo{
    width:100%;
    margin: 0 auto ;
    display: flex;
}

.header{
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-head{
    margin:1%;
}


.h1-logo {
    color: #fff;
    background-color: #000;
    opacity: 0.6;
    margin: auto;
    /* margin-top: 10px; */
    padding: 10px;
    font-weight: 400;
}


.h1-logo{
    text-align: center;
    top: 50%;
}

.header-center{
    text-align: center;
    width: 45%;
    margin: auto 0;
}

.h1-logo{
    font-size: 30px;
}

.search-top{
    margin: auto 0;
    display: flex;
}

.quality-corner{
    width: 30%;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    right: -2px;
    left: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px #222;
    position: absolute;
    top: -1px;
}

.quality-HD{
    background: #dc0603;
}

.quality-corner2{
    width: 30%;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    right: 70%;
    left: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px #222;
    position: absolute;
    top: -1px;
}

.quality-HD2{
    background: linear-gradient(180deg,#aaa8ac 0%,#fbdb89 57%,#FFCD52 100%);
}

.footer-color{
    color: #f0f0f0;
}

.footerlow{
   background: linear-gradient(180deg,#FFCD52 0%,#fbdb89 57%,#aaa8ac 100%);
   text-align: center;
   padding: 10px;
    
}

.border-color{
    border: 1px solid #FBDB89;
}

.mlist-header{
    text-align: left;
    background-color:#FBDB89;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    padding-left: 10px;
}

.page-item.active .page-link {
    background-color: #FFCD52;
    border-color: #FFCD52;
}

.page-link {
    color: #FFCD52;
}

.page-link:hover {
    color: #6600FF;
}