<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-darker ">
    <a class="navbar-brand" href="<%= contextPath%>">Varoon Cineplex</a>
  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="s" id="input">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="button" id="search">Search</button>
    </form>
</nav> -->

<div data-bg="url(/image/header_bg.jpg)" class="header rocket-lazyload" style="background-image: url(/image/header_bg.jpg);" data-was-processed="true">
  <div class="container-logo">
      <div class="logo-head"> 
          <a href="/" data-wpel-link="internal">
              <img src="/image/logo2gudufree.png" alt="ดูหนังออนไลน์ ดูหนัง HD หนังใหม่ 2020" rel="home" style="max-height: 83px;max-width:250px">
              <noscript>
              <img src="/image/logo2gudufree.png" alt="ดูหนังออนไลน์ ดูหนัง HD หนังใหม่ 2020" rel="home" style="max-height: 83px;max-width:250px">
          </noscript>
          </a>
      </div>
    <div class ="header-center">
      <span class="h1-logo">ดูหนังออนไลน์ หนังใหม่ หนัง HD</span>
    </div>
      <div class="search-top">
          <div id="search-2" class="widget widget_search">
              <div class="searchform" > 
                  <input id="input" placeholder="พิมพ์ชื่อหนัง..."> 
                  <button type="button" id="search">
                      <i class="fas fa-search" aria-hidden="true"></i>
                  </button>
              </div>
            </div>
      </div>
  </div>
</div>

  <nav class="navbar navbar-expand-lg nav-black">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active test">
          <a class="nav-link" href="/category/2020">หนังใหม่ 2020<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active test">
          <a class="nav-link" href="/category/2020">หนังใหม่ 2019<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item test">
          <a class="nav-link" href="/category/ซีรีย์">ดูซีรีย์</a>
        </li>
        <li class="nav-item test">
            <a class="nav-link" href="/category/หนังไทย">ดูหนังไทย</a>
          </li>
          <li class="nav-item test">
            <a class="nav-link" href="/category/หนังต่างประเทศ">ดูหนังต่างประเทศ</a>
          </li>
      </ul>
    </div>
  </nav>